In [149]:
import numpy as np
import pandas as pd

## Series
Series: a one-dimentional array holding data of any type (like a column in table)
### Create Series
`pd.Series(data, index)`
#### From list

In [150]:
calories = [20,30,50,60]
s = pd.Series(data = calories, index = ['day1','day2','day3','day4']) # set labels by setting index
series

day1    20
day2    30
day3    40
dtype: int64

#### From dictionary

In [153]:
dic = {'day1': 20, 'day2':30, 'day3':40, 'day4':50, 'day5': 60}
s = pd.Series(dic, index = ['day1','day2','day3', 'day4'])
s

day1    20
day2    30
day3    40
day4    50
dtype: int64

### Series --- Slicing (like ndarray to slice index)

In [165]:
s[0]
s[0:3]
s[[0,2,3]]
s[s>s.median()]
np.exp(s)

day1    4.851652e+08
day2    1.068647e+13
day3    2.353853e+17
day4    5.184706e+21
dtype: float64

### Series --- Get & Set values by index label

In [184]:
s['day1']
s.get('day5', np.nan) #Using the get method, a missing label will return None or specified default

s['day1'] = 1 # set value
'day1' in s
'day5' in s

False

### Series --- method
`Series.dtype`   
`Series.array`   
`Series.to_numpy`

In [189]:
s.dtype
s.array
s.to_numpy() # numpy array

array([ 1, 30, 40, 50])

## DateFrame
DataFrame: a two-dimentional array (like a table with rows and columns) <br>
**index**( row labels), **columns** (column labels)<br>
`df.index` , `df.columns`

### Create DataFrame 
`pd.DataFrame(data, index, columns)`
#### From dict of Series or dict

In [202]:
d = {
    'one':pd.Series([1,2,3], index = ['a','b','c']),
    'two':pd.Series([4,5,6,7], index = ['a','b','c','d'])
} # dict of Series

df = pd.DataFrame(d)

pd.DataFrame(d, index = ['b','d'])

pd.DataFrame(d, index = ['a'], columns = ['two', 'three'])

   two three
a    4   NaN

In [204]:
df.index
df.columns

Index(['one', 'two'], dtype='object')

#### From dict of ndarrays/lists
The ndarrays must all be the same length

In [256]:
d = {'one':[1,2,3,4], 'two':[5,6,7,8]}
df = pd.DataFrame(d)
df = pd.DataFrame(d, index = ['a','b','c','d'])
df

   one  two
a    1    5
b    2    6
c    3    7
d    4    8

### Column selection, addition, deletion
`df.insert(loc, column, value)` insert column at particular location<br>
`del` delete values by using index, directly delete value <br>
`df.pop(index)` delete values by using index, returns deleted value

In [257]:
df['one'] # selection

df['three'] = df['one'] * df['two'] # add another column 'three'

df['flag'] = df['one']>2 # column addition

df.insert(0, 'zero', [0,1,2,3]) # insert column at particular location

In [246]:
#deletion
del df['two']
df.pop('three')

a     5
b    12
c    21
d    32
Name: three, dtype: int64

### Indexing & Selection
`df[col]` select **column** --> Series<br>
`df.loc[label]` select **row** by label -->Series<br>
`df.iloc[loc]` select **row** by integer location  -->Series<br>
`df[5:10]` select **rows** --> DataFrame

In [261]:
df[['zero','two']]
df.loc[['a', 'c']]
df.iloc[[0,1]]
df[0:2]

   zero  two
a     0    5
b     1    6
c     2    7
d     3    8

### Console display
`df.info`<br>
`df.to_string()` return the entire DataFrame in tabular form  
`df.shape`  
`df.head()`  
`df.tail()`

In [263]:
df.info()
df.to_string() #return the entire DataFrame in tabular form

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   zero    4 non-null      int64
 1   one     4 non-null      int64
 2   two     4 non-null      int64
 3   three   4 non-null      int64
 4   flag    4 non-null      bool
dtypes: bool(1), int64(4)
memory usage: 164.0+ bytes

'   zero  one  two  three   flag\na     0    1    5      5  False\nb     1    2    6     12  False\nc     2    3    7     21   True\nd     3    4    8     32   True'

In [272]:
df.shape
df.head()
df.tail()

   zero  one  two  three   flag
a     0    1    5      5  False
b     1    2    6     12  False
c     2    3    7     21   True
d     3    4    8     32   True

In [276]:
ls ./

Career/                              Movie/
CityU_Work/                          Pr video and radio/
E_books/                             [Pandas1]Series_and_DataFrame.ipynb
Github/                              python_study/
MindAmp_work/                        writing/